.results-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results-title {
  text-align: center;
  margin-bottom: 16px;
}

.results-bar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.results-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.option-one {
  background-color: #ffd100;
  color: #010101;
}

.option-two {
  background-color: #010101;
  color: white;
}

/* Mobile view: stack sections top and bottom */
@media (max-width: 768px) {
  .results-bar {
    flex-direction: column; /* Stack sections vertically on smaller screens */
  }

  .root-domain-banner {
    display: none;
  }
}

.root-domain-banner {
  background-color: #ffd100;
  color: black;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 5vh; /* Adds 5vh margin from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to center */
  width: 60%; /* Set width to 60% */
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Ensure the text overlaps the sides */
.root-domain-banner span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
