html {
  height: -webkit-fill-available;
}

body {
  background-color: #ffd100;
  min-height: -webkit-fill-available;
}

h3 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1.5em;
  text-align: center;
}
